:root {
    --primary-color: #4CAF50;
    --secondary-color: #45a049;
}


.navbar-nav .nav-link {
    color: fff; 
    transition: color 0.3s ease-in-out; 
}

.navbar-nav .nav-link:hover {
    color: var(--secondary-color); 
}

.bg-gradient-dark {
    background: linear-gradient(45deg, #1a1a1a, #2d2d2d);
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?nature,environment');
    background-image: url('./img/hero2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.hero-section-2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?nature,environment');
    background-image: url('./img/aboutus2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.hero-section-3{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?nature,environment');
    background-image: url('./img/blog.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}


.hero-section-4{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?nature,environment');
    background-image: url('./img/contact.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.tag {
    background-color: #4caf50;
    color: var(--primary-color);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: all 0.3s;
}


.tag:hover {
    background-color: var(--primary-color);
    color: white;
}

.d-flex {
    display: flex;
    gap: 20px; /* Jarak antar elemen */
}

.custom-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.custom-btn:hover {
    background-color:  var(--secondary-color);
}

.service-card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s;
}

.service-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); 
}

.icon-circle {
    width: 80px;
    height: 80px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-size: 2rem;
}

.tag {
    background-color: rgba(76, 175, 80, 0.1);
    color:  var(--primary-color);
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9rem;
}

.progress {
    height: 10px;
}

.progress-bar {
    background-color:  var(--primary-color);
}

.contact-info {
    background-color: var(--secondary-color); 
    color: black;
    padding: 40px 0;
}

.contact-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-10px);
}
.contact-card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-card p {
    font-size: 1rem;
}

.contact-card a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

.contact-card a:hover {
    text-decoration: underline;
}

/* Responsive design for smaller screens */
@media (max-width: 767px) {
    .contact-card {
        margin-bottom: 20px;
    }
}

.blog-card {
    transition: transform 0.3s ease;
}

.blog-card:hover {
    transform: translateY(-10px);
}

.about-us p, ul {
    text-align: justify;
    line-height: 1.6; 
}

footer{
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}


/* bagian footer */
footer .cols{
    display: flex;
    align-items: start;
}

footer .cols .about-col{
    flex: 3;
}

footer .cols .about-col h3{
    color: var(--primary-color);
    margin-bottom: 20px;
}

footer .cols .about-col p{
    color: #ccc;
    font-size: 13px;
}

footer .cols .links-col{
    flex: 3;
}

footer .cols .links-col h4, footer .cols .news-col h4{
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: var(--primary-color);
}

footer .cols .news-col{
    flex: 3;
}

footer .cols .news-col p{
    color: #7b7b7b;
    font-size: 15px;
}

footer .cols .news-col form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .news-col form input{
    width: 100%;
    background: #212529;
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
}

footer .cols .news-col form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: var(--primary-color);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .cols .news-col form button:hover{
    background-color: var(--secondary-color);
}

footer .cols .news-col form button i{
    font-size: 26px;
}



