:root {
    --primary-color: #4CAF50;
    --secondary-color:  #1cdf56;
}


.navbar-nav .nav-link {
    color: white; 
    transition: color 0.3s ease-in-out; 
}

.navbar-nav .nav-link:hover{
    color: #efc633; 
}

.navbar .nav-link.active {
  color: #efc633;
}

.bg-gradient-dark {
    background: linear-gradient(45deg,  #0c952e, #1cdf56);
}

.hero-section {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('./assets/img/hero1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.glass-card {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    transition: all 0.3s ease;        
}

.glass-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 40px rgba(0, 0, 0, 0.15);
}

.form-control::placeholder {
    justify-content: center;
    color: rgba(0, 0, 0, 0.5);
}

.btn-scan {
    background: linear-gradient(135deg, #0c952e, #1cdf56);
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.btn-scan:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #0c952e, #1cdf56);
    box-shadow: 0 0 10px #efc633;
;
}

.card-link {
    text-decoration: none;
    color: inherit;
}

.umkm-item {
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.hero-img {
  height: 90vh;
  object-fit: cover;
  filter: brightness(60%);
}
.hero-section {
  height: 90vh;
  overflow: hidden;
}

.umkm-item:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.umkm-item img {
    height: 220px;
    object-fit: cover;
}

.reaction i {
    cursor: pointer;
    font-size: 1.3rem;
    transition: color 0.2s ease, transform 0.2s ease;
}


.like-btn:hover {
    color: #28a745; 
    transform: scale(1.2);
}

.dislike-btn:hover {
    color: #dc3545; 
    transform: scale(1.2);
}

.like-btn.active {
    color: #28a745;
}

.dislike-btn.active {
    color: #dc3545;
}

.location-card-umkm {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #777;
    margin-bottom: 10px;
 }

.location-card-umkm i {
    color: #efc633;
    margin-right: 6px;
}





.hero-section-2{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?nature,environment');
    background-image: url('./assets/img/hero3.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.hero-section-3{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?nature,environment');
    background-image: url('./assets/img/berita.png');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}


.hero-section-4{
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?nature,environment');
    background-image: url('./assets/img/hero4.png');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}


.hero-section-4 * {
    position: relative;
    z-index: 2;
}


.bg-success {
    background:  #efc633 !important; 
    backdrop-filter: blur(10px);

}

.tag-filter {
    display: inline-flex;
    align-items: center;
    background: linear-gradient(135deg, #0c952e, #1cdf56);
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    padding: 8px 18px;
    border-radius: 30px;
    backdrop-filter: blur(6px);
    transition: all 0.3s ease;
}

.tag-filter:hover {
    background: rgba(255, 255, 255, 0.6);
    color: #0b3d0b;
    transform: translateY(-2px);
}

.tag-filter.active {
  background: white;
  color: green;
  font-weight: bold;
}


.umkm-item {
  transition: all 0.4s ease;
}


.bi {
    font-size: 1.1rem;
}


.d-flex {
    display: flex;
    gap: 20px; /* Jarak antar elemen */
}

.custom-btn {
    background-color: var(--secondary-color);
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    transition: all 0.3s;
}

.custom-btn:hover {
    background-color:  var(--secondary-color);
}


.icon-circle {
    width: 80px;
    height: 80px;
    background-color:  #efc633;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    font-size: 2rem;
}


.progress {
    height: 10px;
}

.progress-bar {
    background-color:  var(--primary-color);
}

.contact-info {
    background-color: var(--secondary-color); 
    color: black;
    padding: 40px 0;
}

.contact-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.contact-card:hover {
    transform: translateY(-10px);
}
.contact-card h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact-card p {
    font-size: 1rem;
}

.contact-card a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}

.contact-card a:hover {
    text-decoration: underline;
}

/* Responsive design for smaller screens */
@media (max-width: 767px) {
    .contact-card {
        margin-bottom: 20px;
    }
}

.umkm-card {
    transition: transform 0.3s ease;
    padding: 10px;
    height: auto;
}

.umkm-card:hover {
    transform: translateY(-10px);
}


.about-us p, ul {
    text-align: justify;
    line-height: 1.6; 
}

footer{
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}


/* bagian footer */
footer .cols{
    display: flex;
    align-items: start;
}

footer .cols .about-col{
    flex: 3;
}

footer .cols .about-col h3{
    color: var(--primary-color);
    margin-bottom: 20px;
}

footer .cols .about-col p{
    color: #ccc;
    font-size: 13px;
}

footer .cols .links-col{
    flex: 3;
}

footer .cols .links-col h4, footer .cols .news-col h4{
    color: #fff;
    margin-bottom: 20px;
}

footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: var(--primary-color);
}

footer .cols .news-col{
    flex: 3;
}

footer .cols .news-col p{
    color: #7b7b7b;
    font-size: 15px;
}

footer .cols .news-col form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .news-col form input{
    width: 100%;
    background: #212529;
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
}

footer .cols .news-col form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: var(--primary-color);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .cols .news-col form button:hover{
    background-color: var(--secondary-color);
}

footer .cols .news-col form button i{
    font-size: 26px;
}



#lokasi {
    background: url('https://source.unsplash.com/1600x900/?nature,green') center/cover no-repeat;
    padding: 80px 0;
}

.lokasi-card {
    background: linear-gradient(45deg,  #d4ed8f, #69e740);
    padding: 2rem;
    border-radius: 20px;
    max-width: 2500x;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);

}

.lokasi-card h1 {
    color: white;
    font-size: 2rem;
    margin-bottom: 20px;
}

.lokasi-card iframe {
    width: 100%;
    height: 450px;
    border-radius: 15px;
    border: none;
}


.hero-section-siomay {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://source.unsplash.com/1600x900/?nature,environment');
    background-image: url('./assets/img/siomay1.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.hero-section-siomay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

/* konten di atas overlay tetap terlihat */
.hero-section-siomay * {
    position: relative;
    z-index: 2;
}

.rtm {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('../assets/img/rtm3.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.rtm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

.rtm * {
    position: relative;
    z-index: 2;
}

.bengkel {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('../assets/img/bengkel.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.bengkel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

.bengkel * {
    position: relative;
    z-index: 2;
}

.penjahit {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('../assets/img/penjahit.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.penjahit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

.penjahit * {
    position: relative;
    z-index: 2;
}

.gas {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('../assets/img/gas.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.gas::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

.gas * {
    position: relative;
    z-index: 2;
}

.gc {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('../assets/img/gc.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.gc::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

.gc * {
    position: relative;
    z-index: 2;
}

.tiwul {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('../assets/img/tiwul2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.tiwul::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

.tiwul * {
    position: relative;
    z-index: 2;
}


.buah {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('../assets/img/buah.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.buah::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

.buah * {
    position: relative;
    z-index: 2;
}


.bumi {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('../assets/img/bumi2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.bumi::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

.bumi * {
    position: relative;
    z-index: 2;
}


.jamur {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('../assets/img/jamur2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.jamur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

.jamur * {
    position: relative;
    z-index: 2;
}


.degan {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('../assets/img/degan2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.degan::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

.degan * {
    position: relative;
    z-index: 2;
}

.ibune {
    background: linear-gradient( #0c952e, #1cdf56);
    background-image: url('../assets/img/ibune2.jpg');
    background-size: cover;
    background-position: center;
    min-height: 80vh;
    position: relative;
}

.ibune::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(228, 241, 199, 0.6), rgba(147, 202, 28, 0.6)) ;
    z-index: 1;
}

.ibune * {
    position: relative;
    z-index: 2;
}

.glass-card {
  margin-top: 4px; 
}

.text-marquee{
    color:#0f5a21;
}


.blog-horizontal {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.3s ease;     
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.blog-horizontal:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 25px rgba(0, 128, 0, 0.3);
}

.blog-horizontal img {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: transform 0.3s ease;
}

.blog-horizontal:hover img {
  transform: scale(1.05);
}

.blog-horizontal .card-body {
  width: 60%;
  padding: 20px;
  text-align: left;
  transition: color 0.3s ease;
}

.blog-horizontal:hover .card-body {
  color: #0a3622;
}

.blog-horizontal .custom-btn {
  background: linear-gradient(135deg, #0c952e, #1cdf56);color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.blog-horizontal .custom-btn:hover {
  background-color: #157347;
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 128, 0, 0.3);
}

.news-content p {
  text-align: justify;
  text-justify: inter-word; 
  line-height: 1.7;         
}


* Pastikan container hasil search muncul rapi di bawah search bar */
.glass-card {
  position: relative !important; 
  overflow: visible !important;
}

#hasil {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9999;
  background: #ffffff; 
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 5px;
  max-height: 250px;
  overflow-y: auto;
  list-style: none;
  padding: 0;
}

/* Item hasil pencarian */
#hasil .list-group-item {
  border: none;
  padding: 10px 15px;
  font-weight: 500;
  color: #0f5a21;
  cursor: pointer;
  transition: background 0.2s ease;
}

/* Saat hover */
#hasil .list-group-item:hover {
  background-color: #e8f5e9;
}

/* Jika tidak ditemukan */
#hasil .text-muted {
  text-align: center;
  color: #777;
}

/* Hapus background kuning yang nyangkut */
body {
  background-color: #fff !important;
}


